<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mickael Faivre-Macon" />
	<meta name="keywords" content="genealogy, genealogie" />
	<meta name="description" content="Un site de genealogie" />
	<meta name="robots" content="all" />
	<title>Genealogie</title>
	<%= javascript_include_tag "prototype", "effects", "controls", "application", "dragdrop" %>
	<style type="text/css" title="currentStyle" media="screen">
		@import '/stylesheets/styles.css';
	</style>
</head>
<body>
<!--	<div class="content">

		<div class="header_right">

			<div class="top_info">
				<div class="top_info_right">
					<p><b>Pas loggué</b> <a href="#">Log in</a>  or <a href="#">register</a> mais c'est normal!</p>-->					
<!--
				</div>		
			</div>
					
			<div class="bar">
				<ul>
					<li class="slogan">Menu:</li>
					<li class="active">Début</li>
					<li><a href="#" accesskey="b">Milieu</a></li>
					<li><a href="#" accesskey="a">Fin</a></li>
				</ul>
			</div>

		</div>
-->			
		<div class="search_field">
    <% form_remote_tag(:url=>{:controller=>'people', :action=>'search_view'}) do %>
				<%= text_field_with_auto_complete(:search, :name, {:size=>10, :class=>'search'}, {:skip_style => false}) %>
        <input type="submit" value="Voir" class="button" />
    <% end %>
		</div>
		
		<div class="newsletter">
			<p>Recherche de personne</p>
		</div>

		<div class="logo">
			<h1><a href="#" title="Ma famille !">Toute la <span class="red">généalogie</span></a></h1>
			<p>Qui allez-vous découvrir aujourd'hui?</p>
		</div>
		
		
		<div class="subheader"></div>

<%= yield %>



<div class="footer">
	<p><!--<a href="#">RSS Feed</a> | <a href="#">Contact</a> | <a href="#">Accessibility</a> | <a href="#">Products</a> | <a href="#">Disclaimer</a> | -->
	<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | 
	&copy; Copyright 2008 Toute la généalogie</p>
</div>

<!--</div>-->
</body>
</html>
