html, body {
  min-width:640px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  margin: 0px 0px 0px 10px;
  height:100%;
  }

#header,#menu {
  position: relative;
  float:left
  }
  
#menu {
  line-height: 60px;
  vertical-align: bottom;
  width:79.2%;
  }

#content,#footer {width:99%}


#header {
  width:20%;
  }

#side {
  float:right;
  width:29.2%
  }

#content {
  position: relative;
  clear:left;
  min-height:90%; /* real browsers */
  height:auto !important; /* real browsers */
  height:90%; /* IE6: treaded as min-height*/
  }
#footer {
  position: absolute;
  bottom: 0;
  }
