
<%=link_to_remote('Entrer un nouveau nom', :url=>{ :controller=>'people', :action=>'get_new_form'}, :update=>'new_form')%><br/>
<div id='new_form'></div>

<br/>
Noms dans la base:<br/>
<br/>
<ul>
<%= render(:partial=>'people/person_list', :collection=>@people) %>
</ul>
