un super site de <b>généalogie</b> bientôt sur vos écrans<br/>
Je pense que je vais faire un site sans login au début.<br/>
Un espèce de site wiki avec du versioning.<br/>
<br/>
<%=link_to_remote('Entrer un nouveau nom', :url=>{ :controller=>'people', :action=>'get_new_form'}, :update=>'new_form')%><br/>
<div id='new_form'></div>

<br/>
Noms dans la base:<br/>
<br/>
<ul>
<%= render(:partial=>'people/person_list', :collection=>@people) %>
</ul>
